.card {
  display: flex;
  margin-bottom: 10px;
}

img {
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.cardText {
  display: flex;
  div:first-child {
    margin-right: 20px;
  }
}

.active {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  span {
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background: #a2a2a2;
    }
  }
}

.wrapper {
  height: 100%;
}
