.item {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  & img {
    width: 40px;
    margin-right: 20px;
  }

  h4 {
    margin-bottom: 15px;
  }
}

.addPost {
  display: flex;
  align-items: center;
}

.textArea {
  min-height: 100px;
  margin-right: 25px;
}

.postBtn {
  border: 0;
  padding: 10px;
  border-radius: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.1s;
  &:hover {
    background-color: #86a9a9;
  }
}
