.nav {
  grid-area: n;
  background-color: rgb(19, 175, 123);
}

.item {
  padding: 10px;
  & a {
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
  .active {
    color: gold;
  }
}
