.item {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;

  & img {
    width: 40px;
    margin-right: 20px;
  }

  .like {
    margin-left: 10px;
  }
  .likesCount {
    padding: 10px;
    margin-left: 10px;
    background-color: #3cbf49;
    border-radius: 50%;
  }
}
