.app-wrapper {
  height: 98vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 100%;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
