.dialogs {
  display: grid;
  grid-template-columns: 2fr 6fr;
}

.dialogItems {
  display: flex;

  .active {
    color: slateblue;
  }
  img {
    width:40px;
    margin-right: 10px;
  }
}

.rightColumn {
  display: flex;
  align-items: flex-end;
}

.dialog {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  color: black;
  text-decoration: none;
  background-color: #c1e1e1;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: 0.1s;

  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    transform: scale(1.03);
  }
}

.dialogItems {
  display: flex;
  flex-direction: column;
}

.message {padding: 15px 5px;
  margin-bottom: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sendMessage {
  padding: 10px ;
  display: flex;
  align-items: center;
  button {
    margin-right: 10px;
  }
}
